<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TestMapper">
    <cache flushInterval="10000"/>

    <select id="findAll" resultType="com.example.demo.dto.User">
        SELECT *
        FROM USER
    </select>
    
    <select id = "findByName" parameterType = "String" resultType = "com.example.demo.dto.User">
    	SELECT *
    	FROM USER
    	WHERE id = #{id}
    </select>
    
    <select id = "login" resultType = "com.example.demo.dto.User">
    	SELECT *
    	FROM USER
    	WHERE id = #{id} 
    	AND password = #{password}
    </select>
    
    <insert id = "signUp" parameterType = "com.example.demo.dto.User" keyProperty = "id">
    	INSERT INTO USER
    	VALUES(#{id}, #{name}, #{password})
    </insert>
</mapper>
